/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*******************************************************************
******************GENERAL*****************************************
*************************************************************************/
   @font-face {
    font-family: "pba";
    src: url(../fonts/pba.ttf);
   }

   .icon-chef-oeuvre::before {
       content: "\e905";
       font-family:"pba";
   }

   body {
     background-color: black;
   }
/**********************Section video******************************************/
* {
  border: 1px solid black;
}
iframe {
  height: 461px;
  position: relative;
}

.titre {
  color: white;
  text-align: center;
  margin-bottom: 0;
}

#video p {
  color:white;
  text-align: center;
  margin-top: 0;
}

#video img {
  position: absolute;
  height: 200px;
}
/*********************Oeuvres à découvrir***********************************/
#adecouvrir {
  color: white;
  width: 100%;
  text-align: center;
  padding: 30px 0 20px 0;
}

#adecouvrir h2 {
  margin-bottom: 0px;
}

#oeuvres img {
  width: 100%;
  height: 450px;
  display: flex;
}



#oeuvres {
  position: relative;
}
.encart:hover {
  color: rgb(216, 56, 63);
}

/***********************bottom galerie oeuvres**************************/

#bottompicture {
  color: white;
  text-align: center;
  width: 100%;

}
 #border {
   border: 3px solid white;
   max-width: 80%;}

#border a {
  text-decoration: none;
}

#border:hover {
  border-color: rgb(216, 56, 63);
}

#border a:hover {
  color:rgb(216, 56, 63);
}

 #afficher {
   margin-top: 60px;
   margin-bottom: 80px;
 }

 /***************gallerie instagram**********************/

.photoinsta:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 red);
  filter: opacity(0.5) drop-shadow(0 0 0 red);
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/**************Techarger nos applications***************************/

#applications {
  background-color: rgb(216, 56, 63);
  width: 100%;
  color: white;
  text-align: left;
}

#applications h2 {
  font-weight: bold;
}

#applications:hover {
  background-color: white;
  color:rgb(216, 56, 63);
}

/*********************before footer****************************/

#autre {
  background-color: white;
}

#autre h2:hover {
  color:rgb(216, 56, 63);
}


/**************************MOBILE*****************************
*******************************************************************/

/************************section video******************************/
#collection {
display: block;
position: absolute;
top: 60px;
width: 100%;
}

#visiter {
  display: block;
  position: absolute;
  top: 220px;
  width: 100%;
}
/*********************Oeuvres à découvrir**************************************/
#adecouvrir h2 {
  font-size: 15px;
  font-weight: bold;
}

#adecouvrir P {
  font-size: 10px;
}

.encart {
  min-width: 50%;
  max-height: 50%;
  margin: auto;
  padding: 23px 20px 70px 23px;
  background-color: white;
  z-index: 1;
  position: absolute;
  bottom: 10%;
  left: 25%;
  color: black;
  font-weight: bold;
}

.title {
  margin-bottom: 20px;
}

.article{
  height: 450px;
}



/***********************bottom galerie*******************************/

#border {
  margin-left: 10%;
  padding: 10px 20px 10px 20px;
  font-size: 12px;
}

#afficher a{
  color: white;
}

/***********************Gallerie instagram*****************************/

.photoinsta img {
  width: 100%;
}

/*******************Télecharger nos applications***************************/

#applications h2{
  font-size: 12px;
  border: 1px solid white;
  padding: 10px 20px;
}

#telecharger {
  padding: 120px 0 20px 0;
  width: 80%;
  margin: auto;
  text-align: center;
}

/************************before footer**************************************/

#autre h2 {
  font-size: 10px;
  width: 85%;
  margin: auto;
  font-weight: bold;
  border: 2px solid black;
  padding: 20px 40px;
  text-align: center;
}
 #lille {
   margin-bottom: 30px;
   margin-top: 30px;
 }

 #culturel {
   margin-bottom: 30px;
 }






/*********************Tablette*************************************
*********************************************************************/
@media (min-width:768px) {
/*******************oeuvres a decouvrir*********************************/
.title {
  font-size: 30px;

}

#oeuvres img {
  height: 800px;
}

.article {
  height: 800px;
}
/*****************bottom galerie**********************************/
#border {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:20px;
  margin: auto;

}

/*****************galerie instagram*******************************/
#insta {
  display: flex;
  flex-flow: row wrap;
}
.photoinsta  {
  width: 50%;

}

#hidden {
  visibility: hidden;
}

/******************télecharger nos applications********************/

#applications {
margin-top: -390px;
}

#telecharger {
  padding-top: 300px
}

#applications h2 {
  font-size: 25px;
  border: 3px solid white;
  padding: 30px 0;
}

#applications span {
  font-size: 30px;
}

/*******************before footer********************************/

#autre h2 {
  font-size: 25px;
  padding: 35px 0 35px 0;
}

}


/**************************Desktop*************************************
*************************************************************************/
@media (min-width:980px) {

#video {
  display:inline;
}
#collection{
  display: inline;
  width: 500px;
  position: absolute;
  left: 120px;
  top: 120px;
}

#visiter {
  display: inline;
  width: 500px;
  position: absolute;
  right: 120px;
  top: 120px;
}

.titre {
  font-size: 50px;
}

#video p {
  font-size: 30px
}

#video img {
  height: 300px;
}
/********************slider*******************************/

#slider h3 {
  font-size: 50px;
}

#slider h4 {
  font-size: 30px;
}

/********************Oeuvres à decouvrir************************************/

#adecouvrir h2 {
  font-size: 30px;

}

#adecouvrir P {
  font-size: 20px;
}


#oeuvres img {
  height: 450px;
}

.article {
  height: 450px !important;
  padding: 0 !important;
}

.title{
  font-size: 20px;
}

.encart {
  padding: 35px 35px 130px 35px;
  left: 15%;
  bottom:5%;
  width: auto;
  height: 220px;
}
/*********************bottom gallerie***************************/
#border{
  width: 40%;
  padding-top: 20px ;
  padding-bottom: 20px;
}

/***********************Gallerie instagram*************************/
#insta {
  flex-wrap: nowrap;
}

#hidden {
  visibility: visible;
}

/************************Télecharger nos applications************************/


#applications {
  margin-top: 0 !important;
}
#applications h2 {
  font-size: 24px;
  border: none;

}

#telecharger {
  width: 35%;
  margin: auto;
  padding: 30px 0 30px 0;
}

/*********************before footer***********************************************/

#autre h2 {
  border: none;
  font-size: 20px;
}

#lille {
  display: inline-block;
  width: 48%;
}

#culturel{
  display: inline-block;
  width: 50%;
}


}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
